{
    "discordToken": "",
    "discordDevID": "",
    "commandPrefix": "0",
    "spotifyClientID": "",
    "spotifyClientSecret": "",
    "statusActivity": "status.",
    "statusURL": "https://www.twitch.tv/twitch",
    "statusType": "STREAMING"
}